
.about-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

h1, .about-content > h2, .about-content > h3, .job {
  background: -webkit-linear-gradient(
    #6dffbd, #d8d6d6
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-fade-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vmin;

  padding: 5vh;
}

.about-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(30, 30, 30);
  opacity: 90%;
  margin:auto;
  border-radius: 5vmin;

  font-size: calc(10px + 1vw);
  padding: 2vw;
  color: white;
}

.job-title { 
  font-size: calc(10px + 2vw);
  color: #02f573;
  font-weight: bold;
}

.job { 
  font-size: calc(8px + 2vw);
}

.list-item {
  font-size: 2vw;
  padding: 1vmin;
}

/*
Holds an entry in the experience section
title - job
-sub
-sub
*/
.sub-list {
  padding: 1vh;
}

.experience-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-inner {
  padding-left: 4%;
  padding-right: 4%;
  line-height: 2;
}

.min-about-btn {
  margin-bottom: 1vmin;
  opacity: 70%;
  background-color: none;
  border-radius: 1vmin;
  border-style: hidden;
}
