
.header-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  margin: none;
  padding: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content > h1, .header-content > h2  {
  background:#6dffbd;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
This is for the header text
my name and job title
*/
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

  /*box around text*/
  background-color: rgba(50, 50, 50);
  opacity: 75%;
  border-radius: 5vmin;
  padding: 3vmin;
  margin-top: 20vh; /*push down*/
}


.min-header-btn {
  position: absolute;
  bottom: 1vmin;
  margin-bottom: 1vmin;

  opacity: 60%;
  background-color: none;
  border-radius: 1vmin;
  border-style: hidden;
}