
/*Graphs*/
.graphSection{
  display: flex;
  background-color: black;

  justify-content: center;
  align-items: center;
}

.radarGraph {
  max-height: 100vh;
  width: auto;
  padding: 10px;
  margin: 2vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scale-in {
  animation: scalar 1s ease-in;
  -webkit-animation: scalar 1s ease-in;
}

@keyframes scalar {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}