.sample-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
}

.proj-desc {
  margin: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 16px;
  color: white;
  line-height: 1.8;
  background-color: rgb(30, 30, 30);
  opacity: 90%;
  border-radius: 3vw;
}

.left-sample {
  justify-content: center;
  margin: 1vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: inherit;
  flex-basis: 50%;
  min-width: 400px;
}

  .code-section {
    overflow-y:auto;
    overflow-x:auto;
    -webkit-overflow-scrolling: inherit;
    max-height: 100%;
    margin: 1vw;
    font-size: 14px;
  }

.right-sample {
  margin: 1vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: inherit;
  flex-basis: 50%;
  flex-grow: 9999;
}

  .dot-graph {
    margin: 2vmin;
    max-width: 95%;
  }
