#headers {
    margin: auto;
    width: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
}

.btn {
    background-color: rgb(206, 213, 214);
    border-radius: 6px;
    width: 90px;
    height: 40px;
    font-size: 18px;
}

#bold {
    font-weight: bold;
}

body {
    background-image: radial-gradient(rgb(15, 13, 17), rgb(72, 97, 136));
    color: rgb(247, 207, 121);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 40px 40px 40px 40px;
    border: rgb(166, 172, 173) ridge 10px;
    border-radius: 10px;
}

img {
    box-shadow: 5px 5px 6px black;
    border: 4px groove rgb(166, 172, 173);
    border-radius: 10px;
}

.borderPics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    display: block;
}

#yosem {
    display: inline-flex;
    float: right;
    width: 60%;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#city {
    display: inline-flex;
    float: left;
    width: 40%;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#classTable {
    display: flex;
    float: right;
    width: 50%;
}

table, td, th {
    border: 1px solid white;
    text-align: center;
    
}

a {
    color: rgb(226, 117, 117);
}