#headers {
    margin: auto;
    width: 40%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background-color: bisque;
    border-radius: 2px;
    width: 100px;
    height: 50px;
}

#bold {
    font-weight: bold;
}

body {
    font: black;
    background-image: radial-gradient(white, skyblue);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 40px 40px 40px 40px;
    border: darkgreen outset 8px;
}

.borderPics {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    display: block;
}

#bike {
    display: inline-flex;
    float: right;
    width: 40%;
}

#city {
    display: inline-flex;
    float: left;
    width: 40%;
}